<div class="product-page-content">
    <ul id="myTab" class="nav nav-tabs">
        <li><a href="#Description" data-toggle="tab">Description</a></li>
        <li><a href="#Information" data-toggle="tab">Information</a></li>
        <li class="active"><a href="#Reviews" data-toggle="tab">Reviews (2)</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade" id="Description">
            <partial name="_Tabs_Description" />
        </div>
        <div class="tab-pane fade" id="Information">
            <partial name="_Tabs_Information" />
        </div>
        <div class="tab-pane fade in active" id="Reviews">
            <partial name="_Tabs_Reviews" />
        </div>
    </div>
</div>